section {
  margin-bottom: 180px;
}

.title_wrap {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
}
.title_wrap h2 {
  font-size: 72px;
  letter-spacing: -2px;
  margin-bottom: 25px;
  font-weight: 700;
}
.title_wrap p {
  font-size: 20px;
  opacity: 0.5;
  letter-spacing: -1px;
  line-height: 30px;
}

@media screen and (max-width: 1440px) {
  section {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 1024px) {
  section {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 768px) {
  section {
    margin-bottom: 80px;
  }
}
