@import url(reset.css);
@import url(common.css);

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  position: fixed;
  z-index: 999;
}

.header_right {
  display: flex;
  gap: 30px;
}

.menu_wrap {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu_wrap li:last-child {
  font-weight: 600;
}

.header_btn {
  width: 110px;
  height: 40px;
  border-radius: 6px;
  text-align: center;
  line-height: 40px;
  background-color: #5b52ff;
  font-weight: 700;
}
/* header end */

.floating_btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #5b52ff;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating_btn i {
  font-size: 20px;
}

/* .floating_btn end*/

.section_1 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section_1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: #fff; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.title_1 h1 {
  font-size: 120px;
  margin-bottom: 35px;
  font-weight: 700;
  letter-spacing: -2px;
}

.title_1 p {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 45px;
}
/* section_1 end */

.section_4 {
}

.company_wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.turn {
  display: flex;
  align-items: center;
  gap: 50px;
}

.turn_con {
  width: 240px;
}

.top_turn {
  margin-bottom: 25px;
  animation: right_turn 20s linear infinite;
}
.bottom_turn {
  animation: right_turn 20s linear infinite;
}

.top_turn img,
.bottom_turn img {
  display: block;
  width: 240px;
  height: auto;
}

@keyframes left_turn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1980px);
  }
}
@keyframes right_turn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1980px);
  }
}
